* {
  margin: 0;
}

.section{
  width: 0 auto;
  margin-bottom: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */

  width: 25%;
  border: 1px solid #1878de;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  padding: 16px;
  margin: 16px;
  background-color: rgba(6, 218, 218, 0.717);
  font-size: x-large;
  
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  border:rgba(0, 0, 0, 0.96)
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto ;
  margin-right: auto ;
  justify-content: space-around;
}



.h4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  font-size: xx-large;
}

.h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}